@import url('./variables.css');

/* ======== NAVBAR =======*/

.navbar.navbar-dark{
    background-color: var(--background-nav-dark);
}

.navbar.navbar-dark .nav-link{
    color: var(--text-color-dark);
}

.display-none{
    display: none;
}

.darkToggleIcon{
    color: var(--toggler-button-dark);
}

/*NAVBAR COLLAPSE*/

.offcanvas.offcanvas-start.navbar-dark{
    background-color: var(--background-nav-dark);
}

.offcanvas.offcanvas-start button{
    border: none;
    padding: none;
    background: transparent;
}

.offcanvas.offcanvas-start button:focus{
    box-shadow: none;
}

.navbar-dark .navbar-toggler svg{
    color: var(--toggler-button-dark);
}


/* ======== NAVBAR END=======*/

/* ======= Main Content ======= */
.section-light.dark-mode-light{
    background-color: var(--background-body-dark-light);
}

.section-dark.dark-mode-dark{
    background-color: var(--background-body-dark-dark);
}

/* Head Section*/

.dark-mode-light .green-btn,
.dark-mode-light .blue-btn{
    color: var(--button-text-dark);
}

#head-section.dark-mode-light h1,
#head-section.dark-mode-light p{
    color: var(--mainheading-color-dark);
}

.dark-mode-light .head-image-container::after{
    background-color: var(--background-body-dark-dark);
}

/* Feature Section*/