@import url('./dark.css');
@import url('./variables.css');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

a{
    text-decoration: none;
}

.main-container{
    width: 100%;
}

/* ======== NAVBAR END=======*/

.navbar{
    padding: var(--small-gap) var(--medium-gap);
    height: 60px;
    background-color: var(--background-nav-light);
}

.navbar button{
    border: none;
    padding: none;
}

.navbar button:focus{
    box-shadow: none;
}

.navbar-brand img{
    height: 32px;
}

.display-selector{
    display: none;
}

.nav-link{
    font-size: var(--normal-text-size);
    color: var(--text-color-light);
    font-family: var(--font-family);
    font-weight: 500;
}

.nav-link:hover{
    color: var(--primary-color);
}

.nav-icon-container{
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
    align-items: center;
    gap: 12px;
    width: 92px;
}

.nav-icon-container img{
    height: 24px;
    width: 24px;
}

.github-light:hover{
    opacity: 0.5;
}

.toggle-dark-light button{
    background: transparent;
}

/*Navbar collapse*/

.navbar-toggler{
    color: var(--toggler-button-light);
}

@media screen and (max-width: 992px){
    .navbar{
        justify-content: flex-start;
    }

    .display-selector{
        display: block;
    }
    .nav-link{
        color: var(--footer-text-light);
    }
    .nav-icon-container{
        display: none;
    }
}

.offcanvas.offcanvas-start{
    width: 82%;
}

.offcanvas-header{
    padding: var(--small-gap) var(--medium-gap);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
    height: 60px;
}

.offcanvas-header img{
    height: 32px;
}

.offcanvas-header>div{
    display: flex;
    gap: var(--medium-gap);
}

.nav-item .nav-link img{
    height: 24px;
    width: 24px;
}

.btn-close.text-reset{
    width: auto;
    height: auto;
}

/* ======== NAVBAR END=======*/

/* ======= Main Content ======= */ 

main{
    font-family: var(--font-family);
    font-size: 16px;
    width: 100%;
}

.section-light{
    background-color: var(--background-body-lightMode-light);
}

.section-dark{
    background-color: var(--background-body-lightMode-dark);
}

.section-dark,
.section-light{
    color: var(--text-color-light);
    width: 100%;
}

.main-container{
    max-width: 1320px;
    width: 100%;
    padding: 0 var(--medium-gap);
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

/* Head Section*/

#head-section{
    padding-top: var(--xxx-large-gap);
}

#head-section .logo{
    height: 60px;
    width: 60px;
}

#head-section h1{
    color: var(--mainheading-color-light);
    font-size: 48px;
    margin-bottom: var(--medium-gap);
    font-weight: 700;
    text-align: center;
}

#head-section p{
    color: var(--mainheading-color-light);
    font-size: 24px;
    margin-bottom: var(--large-gap);
    text-align: center;
}

.head-content-button{
    margin-bottom: var(--xx-large-gap);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.green-btn{
    background-color: var(--background-btn-green);
}

.blue-btn{
    background-color: var(--background-btn-blue);
}

.green-btn,
.blue-btn{
    color: var(--button-text-light);
    margin: 0 var(--medium-gap);
    padding: var(--small-gap) var(--large-gap);
    line-height: 1.5;
    font-weight: 700;
    font-size: 18.9px;
    text-align: center;
}

.green-btn:hover{
    background-color: var(--background-btn-green-hover);
}

.blue-btn:hover{
    background-color: var(--background-btn-blue-hover);
}

@media screen and (max-width:408px) {
    .green-btn,
    .blue-btn{
        margin: 0;
    }

    .green-btn{
        margin-right: var(--medium-gap);
    }

    .blue-btn{
        margin-left: var(--medium-gap);
    }
}

@media screen and (max-width:372px) {
    .head-content-button{
        flex-direction: column;
        gap: var(--large-gap);
    }    
    
    .green-btn,
    .blue-btn{
        min-width: 165px;
        margin: 0;
    }
}

/* image container */

.head-image-container{
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.head-image-container img{
    max-width: 1440px;
    width: 100%;
    height: auto;
    z-index: 10;
}

.head-image-container::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 25%;
    background-color: var(--background-body-lightMode-dark);
    bottom: 0;
}