@import url('./variables.css');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

a{
    text-decoration: none;
}

.main-container{
    width: 100%;
}

.display-none{
    display: none;
}


/* ======== NAVBAR=======*/

.navbar{
    padding: var(--small-gap) var(--medium-gap);
    height: 60px;
}

.navbar button{
    border: none;
    padding: none;
}

.navbar button:focus{
    box-shadow: none;
}

.navbar-brand img{
    height: 32px;
}

.display-selector{
    display: none;
}

.nav-link{
    font-size: var(--normal-text-size);
    font-family: var(--font-family);
    font-weight: 500;
}

.nav-link:hover{
    color: var(--primary-color);
}

.nav-icon-container{
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
    align-items: center;
    gap: 12px;
    width: 92px;
}

.nav-icon-container img{
    height: 24px;
    width: 24px;
}

.github-light:hover{
    opacity: 0.5;
}

.toggle-dark-light button{
    background: transparent;
}

/*Navbar collapse*/

@media screen and (max-width: 992px){
    .navbar{
        justify-content: flex-start;
    }

    .display-selector{
        display: block;
    }

    .nav-icon-container{
        display: none;
    }
}

.offcanvas.offcanvas-start button{
    border: none;
    padding: none;
    background: transparent;
}

.offcanvas.offcanvas-start button:focus{
    box-shadow: none;
}

.offcanvas.offcanvas-start{
    width: 82%;
}

.offcanvas-header{
    padding: var(--small-gap) var(--medium-gap);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
    height: 60px;
}

.offcanvas-header img{
    height: 32px;
}

.offcanvas-header>div{
    display: flex;
    gap: var(--medium-gap);
}

.nav-item .nav-link img{
    height: 24px;
    width: 24px;
}

.btn-close.text-reset{
    width: auto;
    height: auto;
}

/* ======== NAVBAR END=======*/

/* ======= Main Content ======= */ 

main{
    font-family: var(--font-family);
    font-size: 16px;
    width: 100%;
}

.section-dark,
.section-light{
    width: 100%;
}

.main-container{
    max-width: 1320px;
    width: 100%;
    padding: 0 var(--medium-gap);
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

/* Head Section*/

#head-section{
    padding-top: var(--xxx-large-gap);
    padding-bottom: 0;
}

#head-section .logo{
    height: 60px;
    width: 60px;
}

#head-section h1{
    font-size: 48px;
    margin-bottom: var(--medium-gap);
    font-weight: 700;
    text-align: center;
}

#head-section p{
    font-size: 24px;
    margin-bottom: var(--large-gap);
    text-align: center;
}

.head-content-button{
    margin-bottom: var(--xx-large-gap);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.green-btn{
    background-color: var(--background-btn-green);
}

.blue-btn{
    background-color: var(--background-btn-blue);
}

.green-btn,
.blue-btn{
    margin: 0 var(--medium-gap);
    padding: var(--small-gap) var(--large-gap);
    line-height: 1.5;
    font-weight: 700;
    font-size: 18.9px;
    text-align: center;
}

.green-btn:hover{
    background-color: var(--background-btn-green-hover);
}

.blue-btn:hover{
    background-color: var(--background-btn-blue-hover);
}

@media screen and (max-width:408px) {
    .green-btn,
    .blue-btn{
        margin: 0;
    }

    .green-btn{
        margin-right: var(--medium-gap);
    }

    .blue-btn{
        margin-left: var(--medium-gap);
    }
}

@media screen and (max-width:372px) {
    .head-content-button{
        flex-direction: column;
        gap: var(--large-gap);
    }    
    
    .green-btn,
    .blue-btn{
        min-width: 165px;
        margin: 0;
    }
}

/* image container */

.head-image-container{
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.head-image-container img{
    max-width: 1440px;
    width: 95%;
    height: auto;
    z-index: 10;
}

.head-image-container::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 25%;
    bottom: 0;
}

/* Feature Section*/

section{
    padding: var(--xxx-large-gap) 0;
}

.section-header-container{
    max-width: 1210px;
    margin-left: auto ;
    padding:0 var(--medium-gap);
    margin-bottom: var(--large-gap);
}

.section-header-container span{
    margin-bottom: var(--medium-gap);
    color: var(--primary-color);
    display: inline-block;
    font-weight:700;
}

.section-header-container h2{
    font-size: var(--heading-text-size);
    max-width: 500px;
    font-weight: 700;
    margin-bottom: var(--medium-gap);
    word-spacing: -0.25rem;
}

.col-card{
    padding:var(--medium-gap);
}

.card{
    padding: var(--small-gap);
    height: 100%;
    border-radius: 12px;
    border: none;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
}

.card-header{
    background-color: transparent;
    color: var(--secondary-color);
    border: none;
    padding: var(--medium-gap) var(--medium-gap) 0;
    font-size: var(--sub-heading-text-size);
}

.card-header h5{
    font-weight: 700;
}

.card-body{
    padding: var(--medium-gap);
    line-height: 1.65;
}

/*Application section*/

#application a{
    font-size: var(--normal-text-size);
    color: var(--primary-color);
}

#application a:hover{
    text-decoration: underline;
}

/*Quick Start*/

#quick-start .section-body{
    margin:0 auto;
    max-width: 1100px;
}

#quick-start p{
    margin-bottom: 20px;
    line-height: 1.65;
}

#quick-start a{
    background-color: var(--secondary-color);
    border: none;
}

#quick-start a:hover{
    background-color: var(--primary-color);
}

ul.tabs{
    display: flex;
    padding-left: 0;
    border: none;
}

ul.tabs .nav-link.active{
    color: var(--primary-color);
    position: relative;
    background-color: transparent;
    border: none;
}

.nav-tabs .nav-link{
    border: none;
}

ul.tabs .nav-link.active:active{
    outline: none;
}

ul.tabs .nav-link.active::after{
    content: '';
    position: absolute;
    border-bottom: 3px solid var(--primary-color);
    bottom: 0;
    width: 100%;
    height: 10%;
    left: 0;
}

ul.tabs .nav-items:hover{
    background-color: #0000000D;
    border-radius: 0.4rem;
}

ul.tabs .nav-link{
    padding: var(--medium-gap);
    list-style: none;
    font-size: 16px;
    font-weight: 700;
}

.code{
    padding: var(--medium-gap);
    border-radius: 0.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: var(--medium-gap);
}

@media screen and (max-width:576px) {
    .code code{
        font-size: 12px;
    }
}

.code button span{
    display: flex;
    align-items: center;
    justify-content: center;
}

.code button{
    background-color: transparent;
    border-radius: 5px;
    border-color:transparent;
    padding: 4px;
}

.code button svg{
    width: 18px;
    height: 18px;
    opacity: 0;
}

.code:hover svg,
.code:hover button{
    opacity: 0.5;
}

.code button:hover svg,
.code button:hover{
    opacity: 1;
}

.supported-platforms{
    color: var(--primary-color);
    font-size: var(--normal-text-size);
    margin: var(--large-gap) 0;
}

.supported-platforms h5{
    font-size: var(--sub-heading-text-size);
}

#quick-start .supported-platforms p{
    color: var(--primary-color);
}

/*Questions*/

#questions h3{
    color: var(--secondary-color);
    font-size: 20px;
    margin-bottom: 16px;
    line-height: 1.25;
    font-weight: 700;
}

#questions p{
    line-height: 1.65;
    margin-bottom:20px;
    text-align: justify;
}

#questions .question-col{
    padding:0 var(--medium-gap);
}

.question{
    margin: 0 var(--x-large-gap) var(--x-large-gap) 0;
}

@media screen and (max-width:992px) {
    .question{
        margin: 0 0 var(--x-large-gap) 0;
    }
}

/*Resources*/

#resources .resources-col .card{
    padding: var(--small-gap);
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.resources-col .card .card-body{
    flex: none;
}

.resources-col .card svg.icon{
    margin-bottom: var(--medium-gap);
}

#resources .resources-col{
    padding: var(--medium-gap);
}

.inner-card-1{
    padding:0 var(--medium-gap) var(--medium-gap);
}

.inner-card-2{
    padding: var(--medium-gap) var(--medium-gap) 0;
}

#resources .card:hover{
    border: 1px solid var(--secondary-color);
    border-radius: 0.4rem;
    cursor: pointer;
}

/*Footer*/

footer{
    padding: var(--x-large-gap) 0;
}

footer h5{
    font-size: var(--sub-heading-text-size);
    margin-bottom: var(--medium-gap);
    font-weight: 700;
}

footer .row{
    max-width: 700px;
    width: 100%;
    margin: 0 auto var(--xx-large-gap);
}

footer .row .footer-col{
    width: 100%;
    max-width: 350px;
    padding: 0 var(--medium-gap);
}

.footer-items{
    display: flex;
    flex-direction: column;
}

.footer-items a{
    height: 32px;
}

.footer-items a:hover{
    text-decoration: underline;
    color: var(--primary-color);
}

.footer-logo,
.footer-copyright{
    display: flex;
    justify-content: center;
}

.footer-logo img{
    height: 48px;
    width: 48px;
    opacity: 0.5;
    margin: var(--medium-gap) 0 var(--small-gap);
}

.footer-logo img:hover{
    opacity: 1;
}