:root{
    --background-body-lightMode-light:#FBFBFB;
    --background-body-lightMode-dark:#F0F0F0;
    --background-nav-light:#F0F0F0;
    --text-color-light:#1C1E21;
    --mainheading-color-light:#444950;
    --main-text-color-light:#444950;
    --button-text-light:#fff;
    --footer-text-light:#606770;
    --toggler-button-light:#484d5b;

    --background-body-darkMode-light:#011627;
    --background-body-darkMode-dark:#010D18;
    --background-nav-dark:#010D18;
    --mainheading-color-dark:#EBEDF0;
    --main-text-color-dark:#EBEDF0;
    --text-color-dark:#E3E3E3;
    --button-text-dark:#000;
    --footer-text-dark:#DADDE1;
    --toggler-button-dark:#e3e3e3;

    --primary-color:#21C7A8;
    --secondary-color:#24DBB9;
    
    --normal-text-size:16px;
    --sub-heading-text-size:20px;
    --heading-text-size:44.8px;
    --font-family:system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

    --xxx-large-gap:80px;
    --xx-large-gap:64px;
    --x-large-gap:48px;
    --large-gap:32px;
    --medium-gap:16px;
    --small-gap:8px;

    --background-btn-green:#21c7a8;
    --background-btn-blue:#82aaff;
    --background-btn-green-hover:#1eb397;
    --background-btn-blue-hover:#4cb3d4;
}

@media screen and (max-width:576px) {
    :root{
        --heading-text-size:32px;
    }
}

@media screen and (max-width:992px) {
    :root{
        --xxx-large-gap:40px;
    }
}